# Used by Lambda (set in CDK automatically) and optionally by local runs:
AWS_REGION=ap-south-1

STATE_TABLE_NAME=service_state
GRAPH_TABLE_NAME=service_dependency_graph

# Needed only if you want local Lambda test to publish SNS:
SNS_TOPIC_ARN=